body{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--lgray);

    overflow: hidden;
}

header, footer{
    background-color: var(--black);
    width: 100%;


    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 2vw;

    padding: 1%;

    position: relative;
}

.headerMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5%;
} .headerMenu i{
    cursor: pointer;
}

main{
    width: 100%;
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 0; /* 30% */
    gap: 1%;
    padding: 1%;
    align-items: center;

    transition: grid-template-columns .2s;
}

.itemsContainer, .cartContainer{
    background-color: var(--dgray);
    
    border-radius: 1vw;

    padding: 1%;

    height: 75vh;
}

.itemsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 1.5%;
    overflow-y: scroll;
}

.item{
    aspect-ratio: 1 / 1;
    background-color: var(--green);
    border-radius: 1vw;

    transition: filter 0.15s;

    display: grid;
    grid-template-rows: 80% 1fr;
    place-items: center;

    cursor: pointer;
}
.item:hover{
    filter: brightness(.8);
}

.item img{
    border-radius: 1vw;

    width: 95%;
    aspect-ratio: 1 / .8 !important;
}

.item div{
    border-radius: 1vw;
    
    font-size: .75cqw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15%;

}

.cartContainer{
    display: none; /* flex */
    align-items: center;
    flex-direction: column;
    gap: 2%;
    padding: 2% !important;

    transition: opacity .2s;
}

.title, .sum{
    font-size: 2cqw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    justify-content: space-between !important;
}

.title .clearCart{
    cursor: pointer;
}

.cart{
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2%;
}

.cartItem{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: .75cqw;
}

.cartItem div{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20%;

    i{
        font-size: 2vw;
        cursor: pointer;
    }
}

.cartItem img{
    width: 15%;

    border-radius: 50%;
}
